body {
    font-family: "Verdana", sans-serif; 
}

header {
    box-shadow: 3px 3px rgb(194, 192, 192);
}

nav {
    background-color: #f4f6ff;
}

.navbar a {
    color: #1200ff;
}
.navbar a:hover  {
    color: #b400ff;
}
.navbar form button {
    border-color: #1200ff;
    border-radius: 30px;
    color: #1200ff;
}

.dropdown-menu {
    background-color: #f4f6ff;
    min-width:300px;
}
a.dropdown-item {
    color: #1200ff;
}
a.dropdown-item:hover {
    color: #b400ff;
}


/* .custom-toggler.navbar-toggler { 
    border-color: #1200ff; 
}  */
/* Setting the stroke to green using rgb values (0, 128, 0)  */
  
.custom-toggler .navbar-toggler-icon { 
    background-image: url( 
"data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(18, 0, 255, 0.8)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E"); 
}

#achieve{
    background-color: #bbbfca;
    height: 10px;
    width: 1200px;
    padding: 25px;
    margin: 0px;
    justify-content: center;
}
#icon{
    color:blueviolet;

}
.img1{
    max-width: 100%;
    height: auto;
}
.row-content {
    padding: 50px 0;
    border-bottom: 2px ridge;
    min-height: 200px; 
}
#text-color{
    text-align: center;
    color: blue;
}
#same3{
    background-color: #fbf7f0;
}
#common{
    color:white;
    background-color:#070d59;
}
#newblog{
    color: white;
    background-color: #070d59;
}
#series{
    color: white;
    background-color:#070d59;
}
#resources{
    color: white;
    background-color:#070d59 ;
}
#helpful{
    background-color:tomato ;
}
#form{
    padding: 25px;
    border: solid #bbbfca;
}
#paragraph{
    color: white;
}
#same{
    background-color: #d9e4dd;
}
#same2{
    background-color: #cdc9c3;
}
.carousel-caption {
    background-color: rgba(0, 0, 0, 0.5);
}
.carousel {
    border: solid #bbbfca;
}
#reviews{
    display:flex;
    justify-content: center;
}
#reviews1{
    text-align: center;
}
.helpful{
    background-color: #555555;
}
#middle{
height: 10px;
width: 1200px;
padding: 25px;
margin: 0px;
justify-content: center;
}